:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  .current-page {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6b6b6b;
    font-size: 3rem;
  }
  .arrow {
    cursor: pointer;
  }
}
